
*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}


.battlefield{
	height: 175px;
	width: 175px;
	border-radius: 50%;
	background:rgba(10, 400, 10, 1.0);
	position: absolute;
	box-shadow: 0 0 75px rgba(10, 250, 50, 1.0);

}


.nigeria{

	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url("9jab.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    width: 100%;
    height: 100vh;
	



}

.tinubu{
	height: 75px;
	width: 75px;
	border-radius: 50%;
	background: url("tunubi.png");
	background-size: 90px;
	background-position: center;
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
	position: relative;
	animation: tinubu-orbit 3.3s linear infinite;

}

.nigeriansonprotest{
   
   height: 75px;
	width: 75px;
	border-radius: 50%;
	background: url("9ja.png");
	background-size: 90px;
	background-position: center;
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
	position: relative;
	animation: nigeriansonprotest-orbit 3.5s linear infinite;
}


@keyframes tinubu-orbit{


	from{
		transform: rotate(0deg) translate(250px) rotate(0deg);

	}
	to{
		transform: rotate(360deg) translate(250px) rotate(-360deg);

	}








}
@keyframes nigeriansonprotest-orbit{


	from{
		transform: rotate(0deg) translate(250px) rotate(0deg);

	}
	to{
		transform: rotate(360deg) translate(250px) rotate(-360deg);

	}








}






